# .NET Core  Visual Studio
bin
obj
[Bb]in
[Oo]bj
out

# User-specific files
.user
.userosscache
.sln.docstates
.vs

# Databases
.db
.db-shm
.db-wal
.sqlite
.sqlite3

# MAUI Specific
.maui
AppPackages
BundleArtifacts

# Node (in case TailwindPostCSS are local)
node_modules

# OS specific files
.DS_Store
Thumbs.db

# Secrets and environment
.env
appsettings.Development.json

## ====== FILTROS COMPILACIÓN .NET (Binarios) ======
[Bb]in/
[Oo]bj/
multiple-layers/

## ====== FILTROS DE VISUAL STUDIO ======
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## ====== BASES DE DATOS LOCALES Y TEMPORALES ======
*.db-shm
*.db-wal

## ====== FILTROS SISTEMA OPERATIVO Y HERRAMIENTAS ======
.DS_Store
Thumbs.db

# Office Temporary Files
~$*.xlsx
~$*.xls
*.tmp
*.db3
*.xlsx
*.db*.xlsx
*.db3

# Graphify
graphify-out/

#TestsCoverage
TestResults/