.main-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar-container {
    width: 260px;
    min-width: 260px;
    background-color: #0a0a0a;
    border-right: 1px solid rgba(212, 175, 55, 0.1);
    height: 100vh;
}

.content-container {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    background-color: #121212;
    padding: 2rem !important; /* Espacio interno para que el Home no pegue al borde */
}

    /* Eliminar el scroll invasivo de Windows */
    .content-container::-webkit-scrollbar {
        width: 6px;
    }

    .content-container::-webkit-scrollbar-thumb {
        background: #2a2a2a;
        border-radius: 10px;
    }

        .content-container::-webkit-scrollbar-thumb:hover {
            background: #d4af37;
        }

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
    }

    .sidebar-container {
        width: 100%;
        height: auto;
        position: relative;
    }
}
